

/*##################################################################################################################*/
 /*using new feature flexbox*/
.lineup
{
  vertical-align: text-top;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  height: 500px;
  width: 500px;
  background-color: rgba(120, 120, 120, 0.4);
  color: white;
}

.lineup h1
{
  color: white;
}

.register
{
  color: black;
}

.feedwrapper
{
  height: 400px;
  margin-left: -20px;
}


.feedinput{ background-color:#435673;
            color:#FFFFFF;}

/*feed display. Seperating the spaces between the location, destination and time*/
.street_block /*for the street*/
{
  display: inline-block;
  width: 155px; 
}

.rate_block
{
  display: inline-block;
  width: 20px;       
  text-align: right; 
}

.time_block
{
  display: inline-block;
  width: 130px;        
}

#feed a 
{
  color: #435673;
}

#feed a:hover
{
  color: #888888;
}


.mapwrapper{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
}
/*get rid of bulletpoints*/
.mapwrapper ul {
  overflow: scroll;
	list-style: none;
	background-color:#11939a;
	color:#FFFFFF;
	max-width: 560px;
	height: 400px;
}



h1, h2, h3, .navbar-brand { font-family: "ntr";
                            color: #595959; 
                            text-align: center;}

        
        #homepage-title {
            margin: 0;
            top: 0.5em;
            width: 100%;
            text-align: center;
            color: white;
            font-weight: 400;
            font-size: 500%;
        }

        html, body {
          width: 100%;
          height: 100%;
          margin: 0;
          background-color: #FFFFFF;
        }

        #homepage-block {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          background-size: 100%;
        }

        #extending {
                      margin: 0px;
                      padding: 0px;
                      background-color: #FFFFFF;
                      width: 100%;
                      height: 100%;
                   }

        .spaced {
          margin-left:20px; 
          margin-top: 20px;
        }

