{% extends 'base.html' %}
{% block body %}

    <div>
        <h1 id="feed-page-title">on demand scooter ridesharing</h1>
    </div>

<!--div class='mapwrapper'-->
    <div id="map"></div>

    <div class='feedwrapper'>
                            {% if not 'driver_id' in session %}
    <div id="postRide">
        <form action="feed" method="POST">
        <div style="float: left;">
        <input id='location' placeholder='location'
        type='text' name="myTextBox"
        class='feedinput'/>
        <!-- class is to style the textbox -->

        <input id='destination' placeholder='destination'
        type='text' name="myTextBox"
        class='feedinput'/><br>
        <!-- class is to style the textbox -->


        <input id='pick_up_time' placeholder='pick up'
        type='datetime-local' name="myTextBox"
        class='feedinput' value=''/>
    </div>
    <div style="float: left; margin-left: 8px;">
        <button id='submit_button' type='button'  />POST MY<br>RIDE</button>
    </div>
        </form>
    </div>

            {% endif %}

        <!-- using jinja to make passenger data stay in feed -->
        <!-- from server to page. Thing that you see first. -->
        <ul id='feed'>
                <li>
                <div class="street_block">From</div>
                <div class="street_block">To</div>
                <div class="time_block">When</div>
            {% if 'driver_id' in session %}
                    <div class="tiny_block">Star</div>
                    <div class="tiny_block">Claim</div>
            {% endif %}
                </li>

        <!-- for each loop -->
            {% for ride in all_rides %}
                <li>
                <div class="street_block">{{ride.passenger_location}}</div>
                <div class="street_block">{{ride.passenger_destination}}</div>
                <div class="time_block">{{ride.pick_up_time.__format__('%b %d %-I:%M %p')}}</div>
                

                {% if 'driver_id' in session %}
                    <div class="tiny_block">
                        {% if ride.avg_rating %} 
                            {{ ride.avg_rating | round }} 
                        {% else %} 
                            none 
                        {% endif %} 
                    </div>
                    <div class="tiny_block"><a href ="{{ '/claim-rides/%s' % ride.ride_id }}">claim</a></div>
            {% endif %}
                </li>
            {% endfor %}

        </ul>


    </div>
        <!-- class is to style the textbox -->

    



<!--/div-->
<!-- ######################################################################################################
Google Maps -->
    <script> 
    "use strict";

        var windowLoaded = 0;
        var mapLoaded = 0;

        //calls when the window finishes loading
        //may be before or after the script loads, which means the map may or may not exist
        window.onload = function() 
        {
            windowLoaded == 1;
            if(mapLoaded == 1) //if the map script has already loaded, initialize it
            {
                initMap();
            }
        };

        //calls when the script finishes loading
        function mapScriptLoaded()
        {
            mapLoaded = 1;
            if(windowLoaded == 1) //if the window has already loaded, initialize the map
            {
                initMap();
            }
        }

        //loading the script for the map completes, then the map gets made
        //initmap creates events that refer to the map variable, so it map variable persists without being global
      function initMap() 
      {
        var myLat = 37.768071;
        var myLng = -122.437952;
            //create marker 1 and 2 
            var marker1;
            var marker2;



        var mapDiv = document.getElementById('map');
        //if the map is created here, there's no access to it in window.onload
       var map = new google.maps.Map(mapDiv, {
          center: {lat: myLat, lng: myLng},
          zoom: 12,        
        });

        if (navigator.geolocation) 
        {
            navigator.geolocation.getCurrentPosition(function(position) {
///                alert("LOCATION FOUND");

                myLat = position.coords.latitude;
                myLng = position.coords.longitude;
                var pos = {
                    lat: myLat,
                    lng: myLng
                };

                map.setCenter(pos);

                        if(typeof marker1 != "undefined")
                        {
                            marker1.setMap(null);    
                        }
                        marker1 = new google.maps.Marker({
                            position: {lat: myLat, lng: myLng},
                            map: map,
                            title: "My Location",
                            icon: 'http://imagizer.imageshack.us/v2/100x75q90/924/V2aOtD.png'
           
                        });    


            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());

            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }



        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
            suppressMarkers: true, 
            polylineOptions: 
            { 
                strokeColor: "orange", 
                strokeOpacity: 0.7,
                strokeWeight: 8
            }

        });
        directionsDisplay.setMap(map);
    
        var styles = [{
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#595959"
            }
        ]},
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]},
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]},
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]},
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]},
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]},
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]},
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#68c3e8"
            },
            {
                "visibility": "on"
            }
        ]
    }];

        var options = $.extend({scrollwheel: false}, options);
        map.setOptions({styles: styles, options: options});


          // Create a marker and set its position.
   
        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

        function addMarker(feature) {
            var marker = new google.maps.Marker({
                position: feature.position,
                icon: icons[feature.type].icon,
                map: map
            });
        
        }
            // binding 2 DOM elements to 2 variables
            var loc = document.getElementById("location");
            var dest = document.getElementById("destination");
            // when var loc and var dest are done then go do this event
            loc.onblur = function () 
            { 
                var title = loc.value;
                //look up coordinates for title + ", san francisco"
                // I know this key shouldn't be in here but this is just showing for demo
                var myUrl = "https://maps.googleapis.com/maps/api/geocode/json?address="
                    + title + " san francisco" + "&key=AIzaSyBxtu_GqonEXNKEIzlMlF00LHpLYEPEjo0";
                $.ajax({type: "GET", url: myUrl, dataType: 'json'
                    }).done(function(result)
                    {
                        var coordsx = parseFloat(result.results[0].geometry.location.lat);
                        var coordsy = parseFloat(result.results[0].geometry.location.lng);
                        if(typeof marker1 != "undefined")
                        {
                            marker1.setMap(null);    
                        }
                        marker1 = new google.maps.Marker({
                            position: {lat: coordsx, lng: coordsy},
                            map: map,
                            title: title,
                            icon: 'http://imagizer.imageshack.us/v2/100x75q90/924/V2aOtD.png'
           
                        });    
                         
                    });
            };

            dest.onblur = function () 
            { 
                var title = dest.value;
             
                var myUrl = "https://maps.googleapis.com/maps/api/geocode/json?address="
                    + title + " san francisco" + "&key=AIzaSyBxtu_GqonEXNKEIzlMlF00LHpLYEPEjo0";
                
                $.ajax({type: "GET", url: myUrl, dataType: 'json'}).done(function(result) 
                    {
                        var coordsx = parseFloat(result.results[0].geometry.location.lat);
                        var coordsy = parseFloat(result.results[0].geometry.location.lng);
                        //marker2.setPosition(new google.maps.LatLng(coordsx, coordsy));
                        if(typeof marker2 != "undefined")
                        {
                            marker2.setMap(null);    
                        }
                        marker2 = new google.maps.Marker({
                            position: {lat: coordsx, lng: coordsy},
                            map: map,
                            title: title,
                            icon: 'http://imagizer.imageshack.us/v2/100x75q90/924/V2aOtD.png'
           
                        });    

                        directionsService.route({
                            origin: loc.value + ", san francisco",
                            destination: dest.value + ", san francisco",
                            travelMode: google.maps.TravelMode.BICYCLING
                        }, function(response, status) {
                            if(status === google.maps.DirectionsStatus.OK) {
                                directionsDisplay.setDirections(response);
                            } else {
                                window.alert("Directions failed due to " + status);
                            }
                        }
                        );

                    });
            };


      } //close init map



    </script>

<script>

$(document).ready(function()
{
    var now = new Date($.now())
        , year
        , month
        , date
        , hours
        , minutes
        , seconds
        , formattedDateTime;

    year = now.getFullYear();
    month = now.getMonth().toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
    date = now.getDate().toString().length === 1 ? '0' + (now.getDate()).toString() : now.getDate();
    hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
    minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();
    seconds = now.getSeconds().toString().length === 1 ? '0' + now.getSeconds().toString() : now.getSeconds();

    formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes + ':' + seconds;
    $("#pick_up_time").val(formattedDateTime);
    
});

// whenever you click the submit button it will add the location, 
// destination and time to the feed
$('#submit_button').click(function(){
// grabbing location unit from html

    var passenger_location = $('#location').val();
    var passenger_destination = $('#destination').val();
    var pick_up_time = $('#pick_up_time').val();

    var dt = moment(pick_up_time);

    var formatted = dt.format('MMM DD h:mm A');

    var failed = 0;

    if(passenger_destination == "")
    {
        $("#destination").focus();
        failed = failed + 1;
    }

    if(passenger_location == "")
    {
        $("#location").focus();
        failed = failed + 1;
    }



    if(failed > 0)
        return;

    // adding address information to the feed
  
    /* use the information typed in to create a JSON object */
    var feed_data = { 'passenger_location': passenger_location, 'passenger_destination': passenger_destination, 'pick_up_time': pick_up_time};
    /* "{passenger_location:passenger_location,passenger_destination:passenger_destination,pick_up_time:pick_up_time}" 
    feed_data[passenger_location] will show whatever was typed into the passenger_location variable (id=location)
    */
    console.log(feed_data) /* prints the json object to the javascript console */


    //.post is "asynchronos", which means "it takes a little while"
    //immediately after the $.post line in this jQuery, the data from the post is not yet available
    //using a success function, we can get the result of the .post after it's complete
    $.post('/rides', feed_data, 
        function(data, status){
        //alert("Received " + data); //data is a string version of the ID number newly created
        console.log(status)

        $('#feed').append('<li>'
                    + '<div class = "street_block" style="margin-right: 3px;">'+passenger_location+'</div>'
                    + '<div class = "street_block" style="margin-right: 3px;">'+passenger_destination+'</div>'
                    + '<div class = "time_block">'+formatted+'</div>'
                    + '</li>');
    });

     // empties the input boxes (location, destination) in html
    $('.feedinput').val('');

  
});

</script> 
{% endblock %}
