{% extends 'base.html' %}
{% block content %}
<div style="background-image: url('/static/scoot_login.png');">
<div class="lineup">
<h1>Login</h1>

<form action="login" method="POST">

    <div class="form-group">
        <label>
            Email
            <input type="email" name="email" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Password
            <input type="password" name="password" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Log in" class="default">
    </div>

</form>
</div>
{% endblock %}