{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Rate a ride</h1>

{% if 'driver_id' in session %}

<form action= "{{ "/rides/%s" % ride.ride_id }}" method="POST">

<input type="hidden" name="_method" value="PUT">

<div class="form-group">
        <label>
  <input type="number" name="passenger_rating" min="1" max="5">
        </label>
</div>

    <div class="form-group">
        <input type="submit" value="Submit Passenger Rating" class="default">
    </div>

</form>

{% endif %}
<!-- ############################################################################################ -->


{% if 'passenger_id' in session %}

<form action= "{{ "/rides/%s" % ride.ride_id }}" method="POST">


<input type="hidden" name="_method" value="PUT">

<div class="form-group">
        <label>
  <input type="number" name="driver_rating" min="1" max="5">
        </label>
</div>

    <div class="form-group">
        <input type="submit" value="Submit Driver Rating" class="default">
    </div>

</form>

{% endif %}

</div>
{% endblock %}