{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Rate a ride</h1>

{% if 'driver_id' in session %}

<form action= "{{ "/rides/%s" % ride.ride_id }}" method="POST">

<input type="hidden" name="_method" value="PUT"/>

<div class="form-group">
        <label>
  <input type="number" name="passenger_rating" min="1" max="5" id="passenger_rating"/> 1 to 5
 
        </label>
</div>

    <div class="form-group"> 
        <input type="submit" value="Submit Passenger Rating" class="default"/>
    </div>

</form>

{% endif %}
<!-- ############################################################################################ -->


{% if 'passenger_id' in session %}

<form action= "{{ "/rides/%s" % ride.ride_id }}" method="POST">

<input type="hidden" name="_method" value="PUT">

<div class="form-group">

  

        <label>
  <input type="number" name="driver_rating" min="1" max="5"  id="driver_rating"/> 1 to 5
        </label>
</div>

    <div class="form-group">
        <input type="submit" value="Submit Driver Rating" class="default">
    </div>

</form>

{% endif %}

<script>
$(document).ready()
{
    $("#driver_rating").keyup(function() {
        var input = parseInt($("#driver_rating").val());
        input = input%10;
        if(input < 1)
            input = 1;
        else if(input > 5)
            input = 5;
        $("#driver_rating").val("" + input);        
    });

    $("#passenger_rating").keyup(function() {

        var input = parseInt($("#passenger_rating").val());
        input = input%10;

        if(input < 1)
            input = 1;
        else if(input > 5)
            input = 5;
        $("#passenger_rating").val("" + input);        
    });
}
</script>



</div>
{% endblock %}