{% extends 'base.html' %}
{% block content %}

<div style="background-image: url('/static/color_register.jpg');">
<div class="lineup">

    <h1>Register Passenger</h1>
    <form action="/register" method="POST">
        <div class='form-group'>
            <label>Firstname:
                <input type='firstname' name='firstname' class='form-control'>
            </label>
            <label>Lastname:
                <input type='lastname' name='lastname' class='form-control'>
            </label>
        </div>


        <div class='form-group'>
            <label>Email:
                <input type='email' name='email' class='form-control'>
            </label>
            <label>Password:
                <input type='password' name='password' class='form-control'>
            </label>
        </div>

         <div class='form-group'>
            <label>Phone number:
                <input type='phonenumber' name='phonenumber' class='form-control'>
            </label>
        </div>

        <!-- sent along with form. So on server side we know if it's a passenger  -->
        <input type='hidden' value='passenger' name='user_type'>


        <div class='form-group'>
            <input type='submit' value='Submit' class='register'>
        </div>

    </form>
</div>
<div class="lineup">
    <h1>Register Driver</h1>
    <form action="/register" method="POST">

         <div class='form-group'>
            <label>First name:
                <input type='firstname' name='firstname' class='form-control'>
            </label>
             <label>Last name:
                <input type='lastname' name='lastname' class='form-control'>
            </label>
        </div>

        <div class='form-group'>
            <label>Email:
                <input type='email' name='email'  class='form-control'>
            </label>
             <label>Password:
                <input type='password' name='password'  class='form-control'>
            </label>
        </div>

        <div class='form-group'>
            <label>Phone number:
                <input type='phonenumber' name='phonenumber' class='form-control'>
            </label>
        </div>

        <!-- sent along with form. So on server side we know if it's a driver or a passenger  -->
        <input type= 'hidden' value='driver' name='user_type'>


        <div class='form-group'>
            <input type='submit' value='Submit' class="register">
        </div>

    </form>

       
</div>
</div>
{% endblock %}